{{!-- This template should display all products on a given category --}}


<h2>{{category.name}}</h2>
<p>{{description}}</p>

<div>
{{#each products}}
<img src="../{{image}}">
  {{!-- still need to make imgaes work --}}
<h4>{{name}} - ${{price}}</h4>
<p>{{description}}</p>
{{/each}}
</div>


{{!--
Product parameters returned include: 'id', 'name', 'description', 'image', 'price', 'stock'
Category parameters returned include: id, name, description
--}}