<!-- Loop over each object in the products array -->


<aside class="container">
  <div class="category-title">
    <h3 class="is-size-4 has-text-black has-border-px-2 px-3 py-3 has-text-weight-bold ">Browse products by category</h3>
  </div>
  {{#each categories}}
  <div class="block ">
    <a class="is-size-5" href="/category/{{id}}">{{name}}</a>
    <p class="is-size-6">{{description}}</p>
    {{/each}}
  </div>
</aside>

{{!-- {{#each products as |product| }}
<div class="row mb-4 product">
    <div class="col-md-5">
        <p>
          <span for="img" aria-label="Products">💲</span>
          

          <!-- Pass needed_funding value to the helper function -->
          <span class="product-name">{{product.name}}</span>
          <img src="{{product.image}}">
        </p>
</div>
<div class="col-md-7">
    <p>
      {{product.description}}
    </p>
</div>
</div>
{{/each}} --}}