<!-- Loop over each object in the products array -->


<aside class="container has-text-center">
  <h3 class="is-size-4 ">Browse products by category</h3>
{{#each categories}}
<a class="is-size-5" href="/category/{{id}}">{{name}}</a>
<p class="is-size-6">{{description}}</p>
{{/each}}
</aside>

{{!-- {{#each products as |product| }}
<div class="row mb-4 product">
    <div class="col-md-5">
        <p>
          <span for="img" aria-label="Products">💲</span>
          

          <!-- Pass needed_funding value to the helper function -->
          <span class="product-name">{{product.name}}</span>
          <img src="{{product.image}}">
        </p>
</div>
<div class="col-md-7">
    <p>
      {{product.description}}
    </p>
</div>
</div>
{{/each}} --}}