{{!-- This template will display data for a specific product --}}


<div class="text-center">
  <h2>{{product.name}} - ${{product.price}}</h2>
  <img src="{{product.image}}">
  <p>{{product.description}}</p>
</div>

{{#each review}}
<h4>{{date_created}}</h4>
<p>{{content}}</p>
{{!-- display user by id? --}}
{{/each}}

<button product-id="{{id}}" id="addCart">Add to Cart</button>

<form class="addReview-form">
  <button product-id="{{id}}" type="submit">Add review</button>
</form>

<script src="/js/product.js"></script>